#headImg{
    height: 250px;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
}
.slot{
    height: 250px;
    width: 250px;
}
.want{
    height: 150px;
    width: 150px;
}
.container, .list{
    position: relative;
    text-align: center;
    color: gold;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.text{
    text-align: center;
}
p, label{
    margin: 5px;
}
.lotto{
    grid-template-columns: repeat(5, 100px);
}